.navbar {
  margin: 0;
  list-style: none;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 500px;
  width: 100%;
  box-sizing: border-box;
}

.navbar__link {
  text-decoration: underline;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: #000;
}
