.about-me {
  padding: 110px 70px 0;
  background-color: white;
}

.about-me__info {
  display: flex;
  justify-content: space-between;
}

.about-me__container {
  width: 100%;
  padding-right: 50px;
}

.about-me__name {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: black;
}

.about-me__job {
  margin: 0 0 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: black;
}

.about-me__paragraph {
  max-width: 600px;
  margin: 0 0 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: black;
}

.about-me__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.about-me__item {
  margin-right: 20px;
  transition: .3s;
}

.about-me__item:hover {
  transform: scale(1.5);
}

.about-me__image {
  max-width: 270px;
  object-fit: cover;
  object-position: 65%;
  border-radius: 10px;
}

@media screen and (max-width: 768px){
  .about-me {
    padding: 90px 50px 0;
  }

  .about-me__container {
    max-width: 364px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__job {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__paragraph {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__image {
    max-width: 255px;
    max-height: 307px;
  }
}
