.navtab {
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  min-height: 66px;
}

.navtab__list {
  max-width: 276px;
  gap: 40px;
}

.navtab__item {
  transition: .5s;
}

.navtab__item:hover {
  transform: scale(1.5);
}

.navtab__link {
  text-decoration: underline;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: #000;
  cursor: pointer;
}
